<select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="Ariana">Ariana</option>
  <option value="Ben Arous">Ben Arous</option>
</select>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Gouvernorat</th>
    <th scope="col">Centre vaccination</th>
    <th scope="col">Tel</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let centreVaccination of centreVaccinations">
    <td>{{centreVaccination.governorate}}</td>
    <td>{{centreVaccination.name}}</td>
    <td>{{centreVaccination.phone}}</td>
  </tr>
  </tbody>
</table>
