<div class="container mt-5">
   <div class="d-flex justify-content-between">
      <div class="col-5">
        <select class="form-select mb-4" aria-label="Default select example" [(ngModel)]="selectedGovernorat" (change)="changeGovernorat()">
          <option selected>All</option>
          <option *ngFor="let governorat of governorats" value={{governorat}}>{{governorat}}</option>
        </select>
        {{insertedName}}
      </div>
      <div class="col-5">
        <input type="text" class="col-6 form-control" [(ngModel)]="insertedName" placeholder="Enter name">
    </div>
   </div>
  <table class="table">
    <thead>
    <tr style="color: red;">
      <th scope="col">Gouvernorat</th>
      <th scope="col">Centre vaccination</th>
      <th scope="col">Tel</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let centreVaccination of centreVaccinations">
      <td>{{centreVaccination.governorate}}</td>
      <td>{{centreVaccination.name}}</td>
      <td>{{centreVaccination.phone}}</td>
    </tr>
    </tbody>
  </table>
</div>
